<%= semantic_form_for ([@person,@request]) do |form| %>
<div class = "form_fields">
  <%= form.inputs :title => "Basic" do %>
  <%= form.input :pledged_amount , :input_html => { :class => 'autogrow'} %>
  <%= form.input :deadline , :input_html => { :class => 'autogrow'} %>
  <%= form.input :description , :input_html => { :class => 'autogrow', :rows => 15} %>

  <%= form.commit_button %>

  <% end %>
</div>
<% end %>