<%= form_for([@request,@request.comments.build], :remote => true) do |form| %>

<p class="show_details">
  <%= form.label :name, "Name" %><br />
  <%= form.text_field :name %>
</p>
<p class="show_details">
  <%= form.label :body, "Comment" %><br />
  <%= form.text_area :body %>
</p>
<p class="show_details">
  <%= form.label :email, "Email" %><br />
  <%= form.text_field :email %>
</p>
<p class="show_details">
  <%= form.submit%>
</p>
<% end%>