<h1>Request#index</h1>
<div id = "request_container">
  <div id = "request_content">
    <% @requests.each do |request| %>
      <% if person_signed_in? %>
        <%= link_to("Read All", person_request_path(@person,request)) %>
      <% else %>
        <%= link_to("Read All", request_path(request)) %>
      <% end %>
      <%= request.title %>
      <%= request.pledged_amount %>
      <%= request.deadline %>
      <%= request.description %><br/>
      <% end %>
  </div>
</div>
