<h1>Home</h1>
<div id = "request_container">
  <div id = "request_content">
    <% @requests.each do |request| %>
      <%= link_to("Read All", request_path(request)) %>
      <%= request.title %>
      <%= request.pledged_amount %>
      <%= request.deadline %>
      <%= request.description %><br/>
      <% end %>
  </div>
</div>
