<!DOCTYPE html>
<html>
<head>
  <title>Funducate</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <%= render 'shared/top'%>
    <%= render 'shared/header'%>
  </div>
  <div class="clear"></div>
  <!-- <div class = "notice"> -->
    <%= notice %>
    <%= alert %>
  <!-- </div> -->
  <%= yield %>
  <%= render 'shared/footer'%>
</body>
</html>
